.ai-portal-header-bg{
	background-color:#5282f3;
}
.ai-portal-background-bg{
	background-color: #f6f6ff;
    height: 100vh;
}
body:has(#ai-page-root){
    	background-color: #f6f6ff;
}

.ai-main-card-box {
    background-color: #ffffff;
    border-radius: 20px;
    overflow: auto;
    max-height: 75vh;
    padding: 20px;
    height: auto;
}

.ai-textarea-height{
    min-height: 60px;
}

.clear-button{
    position: absolute;
    right: 0;
    top: 38px;
    right: 30px;
}
.chat-bg-all{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.fix-heights{
    height: calc(100vh - 70px);
}
body:has(#ai-page-root) .bottom-history-tabs {
  display: none !important;
}

.ai-middle-result-page{
        height: 93vh;
    padding-bottom: 150px;
    overflow: auto;
}
























