.activedeclass .card-content, .activedeclass .card{
        outline: 0px!important;
    border: 0px!important;
    box-shadow: 0px 0px 0px #fff!important;
}
.bordernonee{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 20px;
}
.table-outer {
    border: solid 1px #d5d5d5;
    border-radius: 10px;
}
.mt-40{
    margin-top: 20px;
}

.bodybg{
    background-color: lab(92 0.11 -1.69)!important;
}
.side-radiuss{
    border-radius: 0px 10px 10px 0px;
}