.activedeclass .card-content, .activedeclass .card{
        outline: 0px!important;
    border: 0px!important;
    box-shadow: 0px 0px 0px #fff!important;
}
.bordernonee{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 10px;
}
.table-outer {
    border: solid 1px #d5d5d5;
    border-radius: 10px;
}
.mt-40{
    margin-top: 20px;
}

.bodybg{
    background-color: lab(92 0.11 -1.69)!important;
}
.side-radiuss{
    border-radius: 0px 10px 10px 0px;
}
.logintext {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.logintext h3{
font-size: 22px;
    font-weight: 600;
    padding-bottom: 14px;
}
.logintext p{
    font-size: 15px;
}
.login-bgfull{
        background-color: #ebebf4;
}

/* Animations */
@keyframes frameAnimate1 {
  0%, 20%, 40%, 100% { transform: translateY(0); }
  10%, 30% { transform: translateY(-10px); }
}

@keyframes frameAnimate2 {
  0%, 20%, 40%, 100% { transform: translateX(0); }
  10%, 30% { transform: translateX(-10px); }
}

.position1 {
  animation: frameAnimate1 20s infinite;
}

.position2 {
  animation: frameAnimate2 25s infinite;
}

/* Image container */
.auth-imgs {
  max-width: 600px;
  margin: 80px 30px 30px;
}
.auth-imgs img{
    border-radius: 10px;
}
.rightmin{
    position: absolute;
}
.textColor1{
	color: #060606;
}
.textColor2{
	color: #060606;
}
.textColor3{
	color: #060606;
}
.textColor4{
	color: #060606;
}

.dashboardcar1{
	    background: linear-gradient(190deg, #9fb9ff, #f0f9fd);
    box-shadow: 0px 0px 0px #ffffff00;
        border: 0px;
}
.dashboardcar2{
	background: linear-gradient(190deg, #fbd3ac, #fdf7f1);
    box-shadow: 0px 0px 0px #ffffff00;
        border: 0px;
}
.dashboardcar3{
	      background: linear-gradient(190deg, #82e9fe, #edfcff);
    box-shadow: 0 0 #fff0; border: 0px;
}
.dashboardcar4{
	    background: linear-gradient(190deg, #f7a291, #fdf3f1);
   box-shadow: 0px 0px 0px #ffffff00;
       border: 0px;
}
.global-searchbar{
    background-color: #e5e6e9;
    border: solid 1px #e5e6e9;
}
/* .textColorBottom1{
	    color: #607db9;
}
.textColorBottom2{
	color: #d68e47;
}
.textColorBottom3{
	    color: #50a8b9;
}
.textColorBottom4{
	    color: #c16352;
} */

.profilepage-bg{
    background-color: #f3f4f5;
}

.user-ptofile-photo {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 31px;
    font-weight: 400;
    background-color: #d5e5ff;
    color: #565963;
    border: 0px;
    border-color: #fff;
}
.profile-label-texr{
    min-width: 52%;
    line-height: 26px;
}
.profile-tab-outer-section{
    width: 100%;
    padding:0px 18px;
    background-color: #fff;
    border-left: solid 1px #e3e6e8;
}

.border-1-2{
   border:solid 1px #f0efef
}
.header-heights{
    height: 65px;
}

@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border {
  background-size: 300% 300%;
  animation: gradient-border 6s ease infinite;
}
.disabled\:opacity-50:disabled {
    background-color: #c9c9c9;
}
.bottom-spaceing, .footer-bottom-spacing{
    margin-bottom: 45px;
}







































