.activedeclass .card-content, .activedeclass .card{
        outline: 0px!important;
    border: 0px!important;
    box-shadow: 0px 0px 0px #fff!important;
}
.bordernonee{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 20px;
}
.table-outer {
    border: solid 1px #d5d5d5;
    border-radius: 10px;
}
.mt-40{
    margin-top: 20px;
}

.bodybg{
    background-color: lab(92 0.11 -1.69)!important;
}
.side-radiuss{
    border-radius: 0px 10px 10px 0px;
}
.logintext {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.logintext h3{
font-size: 22px;
    font-weight: 600;
    padding-bottom: 14px;
}
.logintext p{
    font-size: 15px;
}
.login-bgfull{
        background-color: #ebebf4;
}

/* Animations */
@keyframes frameAnimate1 {
  0%, 20%, 40%, 100% { transform: translateY(0); }
  10%, 30% { transform: translateY(-10px); }
}

@keyframes frameAnimate2 {
  0%, 20%, 40%, 100% { transform: translateX(0); }
  10%, 30% { transform: translateX(-10px); }
}

.position1 {
  animation: frameAnimate1 20s infinite;
}

.position2 {
  animation: frameAnimate2 25s infinite;
}

/* Image container */
.auth-imgs {
  max-width: 600px;
  margin: 80px 30px 30px;
}
.auth-imgs img{
    border-radius: 10px;
}
.rightmin{
    position: absolute;
}














